PORT=3000
MONGODB_URI=mongodb://localhost:27017/order-splitter
NODE_ENV=development

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dqohk9jjp
CLOUDINARY_API_KEY=694481428168241
CLOUDINARY_API_SECRET=xzXNj8icmIKTKP4FpsRt2lCq4RI